body {
    color: forestgreen;
    text-align: center;
    background-color: black;
}

a{
    color:forestgreen;

}
footer {
    text-align: center;
    background-color: black;
    fill: burlywood;
}